:root {
	--cbBG: rgba(0, 0, 0, 0.5);        /* Main background colour */
	--mainColour:rgba(0, 0, 0, 0.5);	/* Main line colour */
	--slColour: rgb(0, 0, 0);	/* Secondary line colour */
}
#app-mount .chat-3bRxxu .markup-2BOw-j code {
	background-color: var(--cbBG);
	background-image: linear-gradient(var(--mainColour) 50%,var(--slColour) 50%);
	background-position: 0 0;
	background-size: 100% 3em;
	line-height: 1.5
}

#app-mount .markup-2BOw-j pre {background: transparent;border-color: transparent}

#app-mount .markup-2BOw-j .hljs[class~="java" i],
#app-mount .markup-2BOw-j .hljs[class~="sql" i],
#app-mount .markup-2BOw-j .hljs[class~="ruby" i],
#app-mount .markup-2BOw-j .hljs[class~="coffee" i],
#app-mount .markup-2BOw-j .hljs[class~="xl" i],
#app-mount .markup-2BOw-j .hljs[class~="py" i],
#app-mount .markup-2BOw-j .hljs[class~="python" i],
#app-mount .markup-2BOw-j .hljs[class~="html" i],
#app-mount .markup-2BOw-j .hljs[class~="md" i],
#app-mount .markup-2BOw-j .hljs[class~="markdown" i],
#app-mount .markup-2BOw-j .hljs[class~="js" i],
#app-mount .markup-2BOw-j .hljs[class~="javascript" i],
#app-mount .markup-2BOw-j .hljs[class~="css" i],
#app-mount .markup-2BOw-j .hljs[class~="bash" i],
#app-mount .markup-2BOw-j .hljs[class~="vb" i],
#app-mount .markup-2BOw-j .hljs[class~="visualbasic" i],
#app-mount .markup-2BOw-j .hljs[class~="lua" i],
#app-mount .markup-2BOw-j .hljs[class~="php" i],
#app-mount .markup-2BOw-j .hljs[class~="swift" i],
#app-mount .markup-2BOw-j .hljs[class~="makefile" i],
#app-mount .markup-2BOw-j .hljs[class~="go" i],
#app-mount .markup-2BOw-j .hljs[class~="ini" i],
#app-mount .markup-2BOw-j .hljs[class~="rust" i],
#app-mount .markup-2BOw-j .hljs[class~="prolog" i],
#app-mount .markup-2BOw-j .hljs[class~="ts" i],
#app-mount .markup-2BOw-j .hljs[class~="typescript" i],
#app-mount .markup-2BOw-j .hljs[class~="http" i],
#app-mount .markup-2BOw-j .hljs[class~="json" i],
#app-mount .markup-2BOw-j .hljs[class~="xml" i],
#app-mount .markup-2BOw-j .hljs[class~="less" i],
#app-mount .markup-2BOw-j .hljs[class~="scss" i],
#app-mount .markup-2BOw-j .hljs {padding: 0}

#app-mount .markup-2BOw-j .hljs[class~="java" i]::before,
#app-mount .markup-2BOw-j .hljs[class~="sql" i]::before,
#app-mount .markup-2BOw-j .hljs[class~="ruby" i]::before,
#app-mount .markup-2BOw-j .hljs[class~="coffee" i]::before,
#app-mount .markup-2BOw-j .hljs[class~="xl" i]::before,
#app-mount .markup-2BOw-j .hljs[class~="py" i]::before,
#app-mount .markup-2BOw-j .hljs[class~="python" i]::before,
#app-mount .markup-2BOw-j .hljs[class~="html" i]::before,
#app-mount .markup-2BOw-j .hljs[class~="md" i]::before,
#app-mount .markup-2BOw-j .hljs[class~="markdown" i]::before,
#app-mount .markup-2BOw-j .hljs[class~="bash" i]::before,
#app-mount .markup-2BOw-j .hljs[class~="js" i]::before,
#app-mount .markup-2BOw-j .hljs[class~="javascript" i]:before,
#app-mount .markup-2BOw-j .hljs[class~="css" i]::before,
#app-mount .markup-2BOw-j .hljs[class~="vb" i]::before,
#app-mount .markup-2BOw-j .hljs[class~="visualbasic" i]::before,
#app-mount .markup-2BOw-j .hljs[class~="lua" i]::before,
#app-mount .markup-2BOw-j .hljs[class~="php" i]::before,
#app-mount .markup-2BOw-j .hljs[class~="swift" i]::before,
#app-mount .markup-2BOw-j .hljs[class~="makefile" i]::before,
#app-mount .markup-2BOw-j .hljs[class~="go" i]::before,
#app-mount .markup-2BOw-j .hljs[class~="ini" i]::before,
#app-mount .markup-2BOw-j .hljs[class~="rust" i]::before,
#app-mount .markup-2BOw-j .hljs[class~="prolog" i]::before,
#app-mount .markup-2BOw-j .hljs[class~="ts" i]::before,
#app-mount .markup-2BOw-j .hljs[class~="typescript" i]::before,
#app-mount .markup-2BOw-j .hljs[class~="http" i]::before,
#app-mount .markup-2BOw-j .hljs[class~="json" i]::before,
#app-mount .markup-2BOw-j .hljs[class~="xml" i]::before,
#app-mount .markup-2BOw-j .hljs[class~="less" i]::before,
#app-mount .markup-2BOw-j .hljs[class~="scss" i]::before,
#app-mount .markup-2BOw-j .hljs::before {
	width: 100%;position: relative;display:inline-block;
	text-align:center;color: #fff;line-height: 16px;top:-3px}

#app-mount .markup-2BOw-j .hljs[class~="js" i]::before,
#app-mount .markup-2BOw-j .hljs[class~="javascript" i]::before{content: " Javascript";background: #165eab}
#app-mount .markup-2BOw-j .hljs[class~="css" i]::before{content: " Cascading Style Sheet";background: #1d4c75}
#app-mount .markup-2BOw-j .hljs[class~="bash" i]::before{content: " Bash";background: #ab1663}
#app-mount .markup-2BOw-j .hljs[class~="markdown" i]::before,
#app-mount .markup-2BOw-j .hljs[class~="md" i]::before{content: " Markdown";background: #ab2e16}
#app-mount .markup-2BOw-j .hljs[class~="html" i]::before{content: " HTML";background: #16ab6f}
#app-mount .markup-2BOw-j .hljs[class~="xl" i]::before{content: " eXtensible Language";background: #4872a8}
#app-mount .markup-2BOw-j .hljs[class~="coffee" i]::before{content: " Coffee (Javascript)";background: #3a1b1b}
#app-mount .markup-2BOw-j .hljs[class~="ruby" i]::before{content: " Ruby";background: #e73e3e}
#app-mount .markup-2BOw-j .hljs[class~="sql" i]::before{content: " SQL";background: #4474ca}
#app-mount .markup-2BOw-j .hljs[class~="java" i]::before{content: " Java";background: #eb2d2f}
#app-mount .markup-2BOw-j .hljs[class~="py" i]::before,
#app-mount .markup-2BOw-j .hljs[class~="python" i]::before{content: " Python";background: #1622ab}
#app-mount .markup-2BOw-j .hljs[class~="vb" i]::before,
#app-mount .markup-2BOw-j .hljs[class~="visualbasic" i]::before{content: " Visual Basic";background: #839700}
#app-mount .markup-2BOw-j .hljs[class~="lua" i]::before{content: " Lua";background: #2ecc71}
#app-mount .markup-2BOw-j .hljs[class~="php" i]::before{content: " Php";background: #6e81b6}
#app-mount .markup-2BOw-j .hljs[class~="swift" i]::before{content: " Swift";background: #fd7837}
#app-mount .markup-2BOw-j .hljs[class~="makefile" i]::before{content: " Makefile";background: #8a2b0f}
#app-mount .markup-2BOw-j .hljs[class~="go" i]::before{content: " Go";background: #75cede}
#app-mount .markup-2BOw-j .hljs[class~="ini" i]::before{content: " ini";background: #5a75c0}
#app-mount .markup-2BOw-j .hljs[class~="rust" i]::before{content: " Rust";background: #000}
#app-mount .markup-2BOw-j .hljs[class~="prolog" i]::before{content: " Prolog";background: #ef4d25}
#app-mount .markup-2BOw-j .hljs[class~="ts" i]::before,
#app-mount .markup-2BOw-j .hljs[class~="typescript" i]::before{content: " TypeScript";background: #03324c}
#app-mount .markup-2BOw-j .hljs[class~="http" i]::before{content: " HTTP";background: #618f10}
#app-mount .markup-2BOw-j .hljs[class~="json" i]::before{content: " Json";background: #108f66}
#app-mount .markup-2BOw-j .hljs[class~="xml" i]::before{content: " XML";background: #8444af}
#app-mount .markup-2BOw-j .hljs[class~="less" i]::before{content: " Less";background: #1d365d}
#app-mount .markup-2BOw-j .hljs[class~="scss" i]::before{content: " Scss";background: #43b58180}
#app-mount .markup-2BOw-j .hljs::before{content: " HLJS - Empty";background: #4e4e4e80}