//META{"name":"Beautiful CodeBlocks","description":"Restyled codeblocks with settings to change colours and make your own codeblock themes.","author":"Satoru","version":"1.2","website":"http://discord.gg/fjvwb95"}*//{}

@import url('https://theprimoris.github.io/Addons/CodeBlock/CodeBlocks.css');

:root {

	--cbBG: rgba(0, 0, 0, 0.3);        /* Main background colour */

	--mainColour:#073642cc;	/* Main line colour */

	--slColour: #002b36cc;	/* Secondary line colour */

}