#app-mount .wrapper-1Rf91z:not(.foldercontent) {
    width: 4px;
    border-right: var(--gSideBarSize) solid var(--gSideBar);
    border-radius: 2px;
    transition: all var(--gSpeed2) ease;
    pointer-events: auto;
}

#app-mount .wrapper-1Rf91z:hover {
    border-right: none;
    width: 70px;
    transition: all var(--gSpeed2) cubic-bezier(0.4, 0, 1, 1);
    pointer-events: auto;
}