#app-mount .membersWrap-2h-GB4 {
    min-width: 0;
    max-width: 0;
    border-left: var(--memberBarSize) solid var(--memberBarColour);
    border-radius: 2px 2px 0 0;
    transition: width var(--memberSpeed) cubic-bezier(0.4, 0, 1, 1)
}

#app-mount .membersWrap-2h-GB4:hover {
    min-width: 240px;
    border-left-width: 0;
    transition: width var(--memberSpeed) cubic-bezier(0.4, 0, 1, 1)
}