//META{"name":"Settings Auto Hide","description":"Compacts & hides the settings sidebar. Expands on hover.   Please use the support server listed below if you need any help.","author":"Satoru","version":"1.1","website":"http://discord.gg/fjvwb95"}*//{}

@import url('https://satoru8.github.io/Addons/Compact/Settings/SettingsAutoHide.css');


:root {
    
    --settingBarColour: #b400ff;
    --settingBarSize: 8px;
    --settingsSpeed: 300ms;
}