//META{"name":"Channels Auto Hide","description":"Auto Hides channels and shows on hover. Please use the support server listed below if you need any help.","author":"Satoru","version":"1.1","website":"http://discord.gg/fjvwb95"}*//{}

@import url(https://theprimoris.github.io/Addons/FriendsList.css);

:root {

    --channelSpeed2: 250ms;
    --channel2: 70px;
    --channelHeight2: 98%;
    
}