#app-mount .header-2o-2hj, 
#app-mount .channels-Ie2l6A {width: 170px;transition:all .4s ease}

#app-mount .container-2Rl01u, 
#app-mount .channels-Ie2l6A:hover,
#app-mount .channels-Ie2l6A:hover .header-2o-2hj,
#app-mount .wrapper-1Rf91z:hover + div .header-2o-2hj, 
#app-mount .wrapper-1Rf91z:hover + div .channels-Ie2l6A {width:240px}

#app-mount .container-1UB9sr, 
#app-mount .privateChannels-1nO12o header {font-size: 14px}
#app-mount .content-20Aix8 {padding:0;transition:all .4s ease}

#app-mount .channels-Ie2l6A:hover .content-20Aix8,
#app-mount .wrapper-1Rf91z:hover + div .channels-Ie2l6A .content-20Aix8 {padding:0 8px}

#app-mount .voiceUser-vT8g1p {left:-20px;transition:all .4s ease}

#app-mount .channels-Ie2l6A:hover .voiceUser-vT8g1p,
#app-mount .wrapper-1Rf91z:hover + div .channels-Ie2l6A .voiceUser-vT8g1p {left:0}

#app-mount .inner-btChU7 .rtc-connection-status {font-size:.7em;transition:all .3s ease}
#app-mount .inner-btChU7 .rtc-connection-status .ping {background-size: 10px 10px}

#app-mount .channels-Ie2l6A:hover .inner-btChU7 .rtc-connection-status,
#app-mount .wrapper-1Rf91z:hover + div .channels-Ie2l6A .inner-btChU7 .rtc-connection-status {font-size:.9em;transition:all .3s ease}

#app-mount .inner-btChU7 .channel-SEolQq {opacity: .8}
#app-mount .container-1UB9sr .button-2KyEfG {width: 26px}
#app-mount .container-2Thooq .avatar-3JE4B3 {background-size: 35px 35px;position:relative;height: 35px;width: 35px;right: 4px}

#app-mount .channels-Ie2l6A:hover .accountDetails-3k9g4n,
#app-mount .wrapper-1Rf91z:hover + div .channels-Ie2l6A .accountDetails-3k9g4n {visibility:visible;transition: all .5 ease}

#app-mount .accountDetails-3k9g4n {visibility:hidden;position:relative;right:10px}
#app-mount .container-2Thooq .button-2b6hmh {width: 22px}
#app-mount .name-2WpE7M {flex-grow:0}

/* Edited snippet from CompletelyUnbelievable's Mini-theme */
#app-mount .privateChannels-1nO12o .channel-2QD9_O a:not([href*="/channels/@me/"]) .name-2WpE7M {display: none}
#app-mount .privateChannels-1nO12o .channel-2QD9_O a:not([href*="/channels/@me/"]) svg {margin: 0;width: 100%;}
#app-mount .privateChannels-1nO12o .channel-2QD9_O a:not([href*="/channels/@me/"]) svg path:first-of-type {fill: var(--icon)}
#app-mount .privateChannels-1nO12o .channel-2QD9_O a:not([href*="/channels/@me/"]) .downloadProgressCircle-3_wgim {bottom: 2px;position: absolute}
#app-mount .privateChannels-1nO12o .channel-2QD9_O a:not([href*="/channels/@me/"]) .numberBadge-2s8kKX {bottom: 0;right:0;padding:0;position: absolute}
#app-mount .privateChannels-1nO12o .scroller-2FKFPG:not([style="height: 42px; opacity: 1;"]) {text-align: center}
#app-mount .privateChannels-1nO12o .channel-2QD9_O:not([style="height: 42px; opacity: 1;"]) {display: inline-block;margin: 0 4px 0 4px;width: calc((100%/3) - 6px)}
#app-mount .privateChannels-1nO12o .channel-2QD9_O .name-2WpE7M {opacity:0}
/*  End */

#app-mount .channels-Ie2l6A:hover .channel-2QD9_O .name-2WpE7M,
#app-mount .wrapper-1Rf91z:hover + div .channels-Ie2l6A .channel-2QD9_O .name-2WpE7M {opacity:.6;transition: opacity 2s ease}

#app-mount .channel-2QD9_O .avatar-small {height:35px;width:35px;background-size:35px}

#app-mount .channel-2QD9_O .wrapper-2F3Zv8{left:50px;transition:all .5s ease}

#app-mount .channels-Ie2l6A:hover .channel-2QD9_O .wrapper-2F3Zv8,
#app-mount .wrapper-1Rf91z:hover + div .channels-Ie2l6A .channel-2QD9_O .wrapper-2F3Zv8 {left:0;transition:all .5s ease}

#app-mount .channel-2QD9_O:hover a {background-color:transparent}

#app-mount .channel-2QD9_O.selected-1HYmZZ:not(.name-2WpE7M) a {background-color: transparent;filter: drop-shadow(0 0 4px var(--hGlow))}
